p {
    position: absolute;
    font-family: 'HorrorScribbles';
    font-size: 35px;
    color: #ff4500;
}
@media only screen and (min-device-width: 668px) and (max-device-width: 812px){
    #frugalmap {
        height: 812px;
        width: 100%;
    }
}

@media only screen and (max-device-width: 667px){
    #frugalmap {
        height: 667px;
        width: 100%;
    }
}

