
.nav-link{
    font-family: 'HorrorScribbles';
    font-size: 27px;
}
.navbar{
    margin-top: 0.5em;
    margin-left: 56%;
    width: 42%;
    opacity: 0.85;
    position: absolute;
    top: 0;
    z-index: 500;
    background: #000;
    border-radius: 40px;
}
ul {
    height: 13em;
}

button{
    margin: 0 auto;
    border: none;
    outline-style: none;
}
a p{
    text-align: center;
    color: #ff4500
}
#main{
    width:400px;
    padding:30px;
    margin:auto;
    background-color:#EEE;
}
ul{
    list-style-type:none;
}
h1{
    margin-top:0;
}
