<!-------------------------------NAVBAR------------------------------>

<nav class="navbar navbar-expand-md navbar-dark">
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/formulaire"><p class="navbar-items">Form</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/candy-list"><p class="navbar-items">CandyList</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/candymap"><p class="navbar-items">Map</p></a>
      </li> 
    </ul>
  </div> 
</nav>

<!------------------------------------------------------------------->


<table class="table table-striped table-dark">
  <thead>
    <tr id="enTete">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Rarity</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr class="impair">
      <th scope="row">1</th>
      <td>Fraise Tagada</td>
      <td> rank 1</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">2</th>
      <td>Gelly Baby</td>
      <td>rank 1</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">3</th>
      <td>Skittles</td>
      <td>rank 1</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">4</th>
      <td>Dragibus</td>
      <td>rank 1</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">5</th>
      <td>Schtroumpfs</td>
      <td>rank 1</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">6</th>
      <td>Crocodile Haribo</td>
      <td>rank 1</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">7</th>
      <td>Banane</td>
      <td>rank 1</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">8</th>
      <td>Oeuf au plat Haribo</td>
      <td>rank 1</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">9</th>
      <td>Happy Cola</td>
      <td>rank 1</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">10</th>
      <td>Cerise Haribo</td>
      <td>rank 1</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">11</th>
      <td>Haribat</td>
      <td>rank 2</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">12</th>
      <td>Floppy</td>
      <td>rank 2</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">13</th>
      <td>Tagada purple</td>
      <td>rank 2</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">14</th>
      <td>Bouteille Cola</td>
      <td>rank 2</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">15</th>
      <td>Chamallows</td>
      <td>rank 2</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">16</th>
      <td>Ourson</td>
      <td>rank 2</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">17</th>
      <td>Croco Pik</td>
      <td>rank 2</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">18</th>
      <td>Frite Haribo</td>
      <td>rank 2</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">19</th>
      <td>Twin Ours</td>
      <td>rank 2</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">20</th>
      <td>Dents de Dracula</td>
      <td>rank 2</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">21</th>
      <td>Poulpy</td>
      <td>rank 3</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">22</th>
      <td>Dauphin</td>
      <td>rank 3</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">23</th>
      <td>Mini Burger</td>
      <td>rank 3</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">24</th>
      <td>Stawburry</td>
      <td>rank 3</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">25</th>
      <td>Fruits gelifiés</td>
      <td>rank 3</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">26</th>
      <td>Sucette Fraise</td>
      <td>rank 3</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">27</th>
      <td>Carambar</td>
      <td>rank 3</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">28</th>
      <td>Tete brulée Cola</td>
      <td>rank 3</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">29</th>
      <td>Larry</td>
      <td>Tete brulée Pomme</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">30</th>
      <td>Volcano</td>
      <td>rank 4</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">31</th>
      <td>Sucette coeur</td>
      <td>rank 4</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">32</th>
      <td>Serpent</td>
      <td>rank 4</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">33</th>
      <td>Luciole</td>
      <td>rank 4</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">34</th>
      <td>Chocolat noir</td>
      <td>rank 4</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">35</th>
      <td>Vers gelifiés</td>
      <td>rank 4</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">36</th>
      <td>Bounty</td>
      <td>rank 4</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">37</th>
      <td>Réglisse</td>
      <td>rank 5</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">38</th>
      <td>Perle de collier</td>
      <td>rank 5</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">39</th>
      <td>Mi-Cho-Ko</td>
      <td>rank 5</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">40</th>
      <td>Coca Karama</td>
      <td>rank 5</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">41</th>
      <td>Crips</td>
      <td>rank 5</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">42</th>
      <td>Coeur gelifié</td>
      <td>rank 5</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">43</th>
      <td>Caranougat</td>
      <td>rank 6</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">44</th>
      <td>Pate de fruit</td>
      <td>rank 6</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">45</th>
      <td>Mures et framboises</td>
      <td>rank 6</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">46</th>
      <td>Ourson guimauve</td>
      <td>rank 6</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">47</th>
      <td>Carambar atomic</td>
      <td>rank 6</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">48</th>
      <td>Anneau Arlequin fizz</td>
      <td>rank 6</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="impair">
      <th scope="row">49</th>
      <td>Malabar</td>
      <td>rank 7</td>
      <td><input type="checkbox" value=""></td>
    </tr>
    <tr class="pair">
      <th scope="row">50</th>
      <td>Guimauve</td>
      <td>rank 7</td>
      <td><input type="checkbox" value=""></td>
    </tr>
  </tbody>
</table>