
<div class="main-container container fluid">
  <div class="row justify-content-center">
    <h1 class="signup col-12">SIGN UP</h1>
  </div>
  <form class="row">
    <div class="form-group col-12">
      <label for="colFormLabelLg" class="">Email</label>
      <div class="">
        <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg">
      </div>
    </div>
  </form>
</div>
<ul>
    <li>
        <a routerLink="/candylist">candyList</a>
    </li>
</ul>
