@font-face {
    font-family: 'CF Halloween';
    src: url(/font/cf_halloween/CFHalloween-Regular.ttf) format('truetype');
    font-style: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'HorrorScribbles';
    src: url(/font/horrorscribbles/HorrorScribbles.ttf) format('truetype');
    font-style: normal;
    text-rendering: optimizeLegibility;
}

body {
    background-image: url(/assets/ecranAccueil.jpg);
    background-size: 75em;
}